body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

/* row as a whole */

.col-2{
  padding: 0px;
}

.col-8{
  padding: 0px;
}



.dayContainer{
  padding: 2px;
  border-radius: 16px;
}



/* text input */

.timeText{
  /* line-height: 50px; */
  display: flex;
  align-items: center;
  border-bottom: 1px dashed rgb(207, 207, 207);
}

.toDoText{
  width: 100%;
  height: 100%;
  border: 0px;
  background-color: rgb(204, 200, 200);
}



/* Save button */

.saveButton{
  width: 100%;
  height: 100%;
  border: 0px;
  background-color: rgb(101, 201, 231);
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}



/* time dependant classes */

.currentHour{
  width: 100%;
  height: 100%;
  border: 0px;
  background-color: rgb(157, 250, 157);
}

.futureHours{
  width: 100%;
  height: 100%;
  border: 0px;
  background-color: rgb(157, 228, 250);
}